/* body, html {
  height: 100%;
  width: 100%
} */

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  padding: 20px 0px 10px 0px;
  text-align: center;
}

/* Centers images */

img {
  display: block;
  margin: 0px  auto;
  text-align: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: white;
}

/* visited link */
  a:visited {
      color: black;
    }

/* mouse over link */
  a:hover {
      color: #D2FF77;
    }

  /* selected link */
    a:active {
      color: black;
    }

    /* Monica's style info */
    #faceid {
      position: absolute;
      text-align: center;
      margin-top: 5%;
      z-index: 1;
      width: 70%;
    }

    #faceid2 {
      position: absolute;
      text-align: center;
      margin-top: 5%;
      z-index: 1;
      width: 70%;
    }

    #loading {
      position: absolute;
      text-align: center;
      margin-top: 5.5%;
      z-index: 2;
      width:70%;
    }

    #verified {
      position: absolute;
      text-align: center;
      margin-top: 5%;
      z-index: 1;
      width: 70%;
    }
